{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ pos.nama }}</li>
        </ol>
      </nav>
      <h1 class="pt-2 pb-3">{{ pos.nama }}</h1>
    </div>
    <div class="col-sm-6">
      &nbsp;<br><br>
      <span class="text-center display-6"><a href="?month={{ prev_month }}"><i class="bi bi-caret-left-square pe-4"></i></a> {{ month.strftime('%b %Y') }} <a href="?month={{ next_month }}"><i class="bi bi-caret-right-square ps-4"></i></a></span>
    </div>
  </div>
  <div class="row pt-4">
    <div class="col-sm-6">
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

      <h2>Data Manual <a href="#form-add-manual" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="form-add-manual" class="btn btn-outline-secondary btn-sm ms-3">Tambah</a></h2>
      <p><i>Data pembacaan oleh Petugas</i></p>
      <form id="form-add-manual" class="collapse my-3 p-3 border border-secondary rounded bg-light" action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.pos_id }}
        <h2>Tambah Data Manual</h2>
        <div class="mb-3">
          <fieldset disabled>
          <label for="nama" class="form-label">Pos Hidrologi</label>
          <input type="text" class="form-control" value="{{ pos.nama }}"> 
        </fieldset>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="tanggal" class="form-label">Tanggal</label>
          <input type="text" name="tanggal" id="tanggal" value="{{ today_date }}" class="form-control" aria-describedby="tanggalHelp">
          <div id="tanggalHelp" class="form-text">Waktu data</div>
          </div>
          <div class="col">
            <label for="" class="form-label"> Jam</label>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="jam" id="btnradio1" autocomplete="off" value="07" checked>
              <label class="btn btn-outline-secondary" for="btnradio1">07</label>
            
              <input type="radio" class="btn-check" name="jam" id="btnradio2" value="12" autocomplete="off">
              <label class="btn btn-outline-secondary" for="btnradio2">12</label>
            
              <input type="radio" class="btn-check" name="jam" id="btnradio3" value="18" autocomplete="off">
              <label class="btn btn-outline-secondary" for="btnradio3">18</label>
            </div>
        </div>
        </div>
        {% if pos.tipe == 1 or pos.id == 1 %}
        <div class="mb-3">
          <label for="ch" class="form-label">Curah Hujan (mm)</label>
          <input type="number" name="ch" id="ch" value="0" class="form-control text-end" aria-describedby="chHelp">
          <div id="chHelp" class="form-text">Curah hujan sehari lalu, dalam milimeter</div>
        </div>
        {% endif %}
        {% if pos.tipe == 2 %}
        <div class="mb-3">
          <label for="tma" class="form-label">TMA (Meter)</label>
          <input type="number" step="0.001" name="tma" id="tma" class="form-control text-end" aria-describedby="tmaHelp">
          <div id="tmaHelp" class="form-text">Tinggi Muka Air Logung (min 84, max 93.75)</div>
        </div>
        {% endif %}
        {% if pos.id == 1 %}
        <div class="mb-3">
          <label for="vol" class="form-label">Volume (Juta M<sup>3</sup>) <a href="javascript:">(hitung volume)</a></label>
          <input type="text" readonly name="vol" id="vol" class="form-control text-end" aria-describedby="volHelp">
          <div id="volHelp" class="form-text">Volume Air pada tampungan</div>
        </div>
        {% endif %}
        <input type="submit" class="btn btn-primary" value="Kirim">
        <a href="#form-add-manual" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="form-add-manual" class="btn btn-outline-secondary">Batal</a>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th class="align-top">Tanggal</th>
            <th class="align-top">Jam</th>
            <th>Curah Hujan<br><span class="text-muted fw-light">mm</span></th>
            <th>TMA<br><span class="text-muted fw-light">mdpl</span></th>
            {% if pos.id == 1 %}<th>Volume<br><span class="text-muted fw-light">Juta Meter<sup>3</sup></span></th>{% endif %}
          </tr>
        </thead>
        <tbody>
          {% for m in manual_bulan_ini %}
          <tr>
            <td>{{ m.sampling.date() }}</td>
            <td>{{ m.sampling.time() }}</td>
            <td class="text-end row-ch">{{ m.ch }}</td>
            <td class="text-end row-tma">{{ m.tma }}</td>
            {% if pos.id == 1 %}<td class="text-end row-vol">{{ m.vol }}</td>{% endif %}
          </tr>
          {% else %}
          <tr>
            <td colspan="5" class="h-100 text-center px-5 text-muted"><i class="bi bi-cart-x display-6"></i><br><i>belum ada data</i></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-sm-6">
      <h2>Data Telemetri</h2>
      <p><i>Data dari logger (sensor)</i></p>
      <table class="table">
        <thead>
          <tr>
            <th>Tanggal</th>
            <th>Jam</th>
            <th>Curah Hujan</th>
            <th>TMA</th>
            <th>Volume</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% if current_user.pos.id == 1 %}
{% block js_foot %}
<script>
  let e = document.getElementById('tma');
  e.addEventListener('change', (e) => {
    if (isNaN(e.target.value)) {
      alert('Nilai TMA harus angka');
      e.focus();
    }
    let vol = volume(e.target.value);
    console.log('TMA: ', e.target.value);
    console.log('VOL: ', vol);
    let ev = document.getElementById('vol');
    ev.value = vol;
  });
  const volume = (tma) => {
    return -1.23784705416647 * Math.pow(tma, 0) + 0.148652766294826 * tma - 0.00340120100025765 * Math.pow(tma, 2) - 0.0000188399794393122 * Math.pow(tma, 3) + 0.000000769023798990446 * Math.pow(tma, 4);
  };
  // dari excel, SHEET '2019' : =-1.23784705416647*C11^0+0.148652766294826*C11-0.00340120100025765*C11^2-0.0000188399794393122*C11^3+0.000000769023798990446*C11^4
  // 1.23784705416647*C11^0 \
  //   +0.148652766294826*C11-0.00340120100025765*C11^2
  //   -0.0000188399794393122*C11^3
  //   +0.000000769023798990446*C11^4
</script>
{% endblock %}
{% endif %}