{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
          <li class="breadcrumb-item"><a href="/admin/user">User</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{user.username}}</li>
        </ol>
      </nav>
      <h1>{{ user.username }}</h1>
      {{ form.username }}
      {{ form.role }}
      {{ form.pos }}
    </div>
  </div>
  <div class="row">
  </div>
</div>

{% endblock %}