<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <style>
      #map {
        height: 100%;
      }
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <title>EWS Bendungan Logung</title>
  </head>
  <body>
    <header class="bg-dark text-white">
      <div class="container-fluid">
        {% include '_nav.html' %}
      </div>
    </header>
    <div class="w-100 h-100" id="map">hello</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="/static/js/dayjs.min.js"></script>
    <script src="/static/js/relativeTime.js"></script>
    <script src="/static/js/id.js"></script>
        <script>
      let map, wadukLayer, siagaLayer, puncakLayer, awasLayer, breakLayer, pengungsianLayer, jalur_evakuasiLayer, posLayer, aliranLayer;
      let tma_now = {{ tma_logung.tma }};
      let flowPath; // poliline gambar aliran siaga
      const clayer = [
          ['Siap (+88.5mdpl)', 'siaga'],
          ['Siaga (+92.75mdpl)', 'puncak'],
          ['Awas (+93.75mdpl)', 'awas'],
          ['Dam Break', 'break'],
        ];

      const td_util = [
        ['Pos Pengungsian', 'pengungsian'],
        ['Jalur Evakuasi', 'jalur_evakuasi'],
        ['Pos Hidrologi', 'pos_pengamatan']
      ];

      // Tambah genangan break
      // tambah usulan alat untuk EWS Spillway limpas
      /*

      */
      //const mylayers = {siaga: 'Siap', 'Siaga', 'Awas'}
      function WarningControl(controlDiv, map) {
        const cUI = document.createElement('div');
        cUI.style.backgroundColor = "#fefefe";
        cUI.style.marginRight = '8px';
        cUI.style.padding = "12px";
        controlDiv.appendChild(cUI);

        const cText = document.createElement('div');
        cText.style.color = "#666";
        cText.style.fontFamily = 'Roboto, Arial, sans-serif';
        cText.style.fontSize = '16px';

        let p = document.createElement('p');
        p.innerHTML = `<b>Tindak Darurat</p>`;
        let ol = document.createElement('ol');
        ol.classList.add('list-unstyled');

        td_util.forEach((e, i, a) => {
          let li = document.createElement('li');
          li.innerHTML = `<i id='view_${e[1]}' class='bi bi-eye-slash me-2'></i> ${e[0]}`;
          li.classList.add('mt-2');
          li.style.cursor = 'pointer';
          li.addEventListener('click', (ev) => {
            if (e[1] == 'pengungsian') {
              if (pengungsianLayer.getMap() == null) {
                pengungsianLayer.setMap(map);
                kedip(`view_${e[1]}`, false);
              } else {
                pengungsianLayer.setMap(null);
                kedip(`view_${e[1]}`);
              }
            }
            if (e[1] == 'jalur_evakuasi') {
              if (jalur_evakuasiLayer.getMap() == null) {
                jalur_evakuasiLayer.setMap(map);
                kedip(`view_${e[1]}`, false);
              } else {
                jalur_evakuasiLayer.setMap(null);
                kedip(`view_${e[1]}`);
              }
            }
            if (e[1] == 'pos_pengamatan') {
              if (posLayer.getMap() == null) {
                posLayer.setMap(map);
                kedip(`view_${e[1]}`, false);
              } else {
                posLayer.setMap(null);
                kedip(`view_${e[1]}`);
              }
            }
          });
          ol.appendChild(li);
        });
        p.appendChild(ol);
        cText.append(p);
        ol = document.createElement('div');
        //ol.classList.add('');
        clayer.forEach((e, i, a) => {
          const li = document.createElement('div');
          li.innerHTML = `<input class="form-check-input" type="radio" name="model-genangan" id="id_${e[1]}" value="${e[0]}">
          <label class="form-check-label" for="id_${e[1]}">${e[0]}</label>`;
          li.classList.add('form-check');
          //li.style.cursor = 'pointer';
          li.addEventListener('click', (ev) => {
            // hide layer
            siagaLayer.setMap(null);
            awasLayer.setMap(null);
            puncakLayer.setMap(null);
            breakLayer.setMap(null);
            eval(`${e[1]}Layer`).setMap(map);
            if (!animating && e[1] != 'awas') {
              createFlowLine();
              animateDot();
            }
          });
          ol.appendChild(li);
        });

        //cText.innerHTML = "<div><b>Pos</b><span id='ly_pos_pengungsian'><i class='bi bi-eye'></i></span>  Pengungsian\
        //  </div><br>\
        //<div><b>Model Genangan</b><br><ol class='list-unstyled'><li id='ly_siaga' class='mt-2'><i class='bi bi-eye'></i> Awas</li><li id='ly_awas' class='mt-2'><i class='bi bi-eye'></i> Siaga</li><li id='ly_puncak' class='mt-2'><i class='bi bi-eye-slash'></i> Siap</li></ol></div>";
        p = document.createElement('p');
        p.innerHTML = `<div class="mb-3"><b>TMA</b><br>+<b>{{ tma_logung.tma }}</b>mdpl <span id="sampling_tma"></span></div><b>Model Genangan</b>`;
        cText.appendChild(p);
        cText.appendChild(ol);
        cUI.appendChild(cText);
        //cUI.addEventListener('click', (e) => { console.log(e.target)});
      }
      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: -6.7969811, lng: 110.921794 }, 
          zoom: 12,
          mapTypeControl: true,
          //mapTypeId: 'terrain',
          mapTypeControlOptions: {
            style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
            position: google.maps.ControlPosition.TOP_RIGHT,
          },
        });

        wadukLayer = new google.maps.KmlLayer('https://ewslogung.prinus.net/static/map/logung.kml', {preserveViewport: true,map: map});
        siagaLayer = new google.maps.KmlLayer('https://ewslogung.prinus.net/static/map/siaga.kml', {preserveViewport: true,map: null});
        awasLayer = new google.maps.KmlLayer('https://ewslogung.prinus.net/static/map/awas.kml', {preserveViewport: true,map: null});
        puncakLayer = new google.maps.KmlLayer('https://ewslogung.prinus.net/static/map/puncak.kml', {preserveViewport: true,map: null});
        breakLayer = new google.maps.KmlLayer('https://ewslogung.prinus.net/static/map/break.kml', {preserveViewport: true,map: null});
        pengungsianLayer = new google.maps.KmlLayer('https://ewslogung.prinus.net/static/map/pengungsian.kml?_=' + new Date().getTime(), {preserveViewport: true,map: null});
        jalur_evakuasiLayer = new google.maps.KmlLayer('https://ewslogung.prinus.net/static/map/jalur_pengungsian.kml?_=' + new Date().getTime(), {preserveViewport: true,map: null});
        posLayer = new google.maps.KmlLayer('https://ewslogung.prinus.net/static/map/pos.kml?_=' + new Date().getTime(), {preserveViewport: true,map: null});
        aliranLayer = new google.maps.KmlLayer('https://ewslogung.prinus.net/static/map/aliran.kml?_=' + new Date().getTime(), {preserveViewport: true,map: null});

        const mcdiv = document.createElement('div');
        mcdiv.classList.add('border')
        WarningControl(mcdiv, map);

        let e = document.getElementById('sampling_tma');
        map.controls[google.maps.ControlPosition.RIGHT_CENTER].push(mcdiv);
        const painted = setTimeout(paintMap, 1000);
      }
      const kedip = (this_eye, slash=true) => {
        var el = document.getElementById(this_eye);
        if (slash) {
          el.classList.remove('bi-eye');
          el.classList.add('bi-eye-slash')
        } else {
          el.classList.remove('bi-eye-slash');
          el.classList.add('bi-eye')
        }
      }

      const paintMap = () => {
        if (tma_now > 93.75) {
          awasLayer.setMap(map);
          document.getElementById('id_awas').setAttribute('checked', 'checked')
          if (animating !== undefined) {
            flowPath.map = null;
            clearInterval(animating);
          }
        } else if (tma_now > 92.75) {
          puncakLayer.setMap(map);
          document.getElementById('id_puncak').setAttribute('checked', 'checked')
        } else if (tma_now > 88.5) {
          siagaLayer.setMap(map);
          document.getElementById('id_siaga').setAttribute('checked', 'checked')
        }
        //flowPath.map = map;
      }

      let animating = undefined;
      const createFlowLine = async () => {
        const res = await fetch('/static/map/sungai.csv');
        const cnt = await res.text();
        const lines = cnt.split(/\n/);
        const alur_sungai = [];
        let a, b, c;
        lines.map((x) => {
          [a, b, c] = x.trim().split(',');
          if (b) 
            alur_sungai.push({'lng': parseFloat(a), 'lat': parseFloat(b)});
        });
        console.log(alur_sungai);
        const dot = {
          path: google.maps.SymbolPath.CIRCLE,
          scale: 3,
          fillColor: '#ff0000',
          strokeWidth: 1,
          strokeOpacity: 1
        };

        flowPath = new google.maps.Polyline({
          path: alur_sungai,
          strokeColor: '#f30000',
          strokeWeight: 1,
          icons: [
            {
              icon: dot,
              offset: '0',
              repeat: '20px'
            },
          ],
          map: map
        });
      }

      const animateDot = () => {
        let zoomLevel;
        let markSpeed;
        let iconSpeed = 0.4;
        let lineOffset = 0; // spt count

        animating = setInterval(() => {
          lineOffset = (lineOffset + iconSpeed) % 200;
          var lineIcon = flowPath.get('icons');
          lineIcon[0].offset = lineOffset / 2 + '%';
          flowPath.set('icons', lineIcon);
          
          zoomLevel = flowPath.get('map').getZoom();
          //console.log(zoomLevel);
          if (zoomLevel >= 21) {
            markSpeed = 1 * zoomLevel / 0.2;
          } else if (zoomLevel >= 19) {
            markSpeed = 1 * zoomLevel / 0.5;
          } else if (zoomLevel >= 16) {
            markSpeed = 1 * zoomLevel / 2;
          } else {
            markSpeed = 1 * zoomLevel / 20;
          }
        }, 100);
      }
  </script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key={{GMAP_KEY}}&callback=initMap&v=weekly"
    async
  ></script>
</body>
  </html>
  