<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <style>
      #map {
        height: 100%;
      }
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <title>EWS Bendungan Logung</title>
  </head>
  <body>
    <header class="bg-dark text-white">
      <div class="container-fluid">
        {% include '_nav.html' %}
      </div>
    </header>
    <div class="w-100 h-100" id="map">hello</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="/static/js/dayjs.min.js"></script>
    <script src="/static/js/relativeTime.js"></script>
    <script src="/static/js/id.js"></script>
        <script>
      let map, wadukLayer, siagaLayer, puncakLayer, awasLayer, breakLayer, pengungsianLayer, jembatanLayer;

      const clayer = [
          ['Siap (+88.5mdpl)', 'siaga'],
          ['Siaga (+92.75mdpl)', 'puncak'],
          ['Awas (+93.75mdpl)', 'awas'],
          ['Dam Break', 'break']
        ];

      const td_util = [
        ['Pos Pengungsian', 'pengungsian'],
        ['Jembatan', 'jembatan']
      ];

      // Tambah genangan break
      // tambah usulan alat untuk EWS Spillway limpas
      /*

      */
      //const mylayers = {siaga: 'Siap', 'Siaga', 'Awas'}
      function WarningControl(controlDiv, map) {
        const cUI = document.createElement('div');
        cUI.style.backgroundColor = "#fefefe";
        cUI.style.marginRight = '8px';
        cUI.style.padding = "12px";
        cUI.title = "Silakan pilih";
        controlDiv.appendChild(cUI);

        const cText = document.createElement('div');
        cText.style.color = "#666";
        cText.style.fontFamily = 'Roboto, Arial, sans-serif';
        cText.style.fontSize = '16px';

        let p = document.createElement('p');
        p.innerHTML = `<b>Tindak Darurat</p>`;
        let ol = document.createElement('ol');
        ol.classList.add('list-unstyled');

        td_util.forEach((e, i, a) => {
          let li = document.createElement('li');
          li.innerHTML = `<i class='bi bi-eye me-2'></i> ${e[0]}`;
          li.classList.add('mt-2');
          li.style.cursor = 'pointer';
          li.addEventListener('click', (ev) => {
            console.log(e[1]);
          });
          ol.appendChild(li);
        });
        p.appendChild(ol);
        cText.append(p);
        ol = document.createElement('div');
        //ol.classList.add('');
        clayer.forEach((e, i, a) => {
          const li = document.createElement('div');
          li.innerHTML = `<input class="form-check-input" type="radio" name="model-genangan" id="id_${e[0]}" value="${e[0]}">
          <label class="form-check-label" for="id_${e[0]}">${e[0]}</label>`;
          li.classList.add('form-check');
          //li.style.cursor = 'pointer';
          li.addEventListener('click', (ev) => {
            // hide layer
            siagaLayer.setMap(null);
            awasLayer.setMap(null);
            puncakLayer.setMap(null);
            breakLayer.setMap(null);
            eval(`${e[1]}Layer`).setMap(map);
          });
          ol.appendChild(li);
        });

        //cText.innerHTML = "<div><b>Pos</b><span id='ly_pos_pengungsian'><i class='bi bi-eye'></i></span>  Pengungsian\
        //  </div><br>\
        //<div><b>Model Genangan</b><br><ol class='list-unstyled'><li id='ly_siaga' class='mt-2'><i class='bi bi-eye'></i> Awas</li><li id='ly_awas' class='mt-2'><i class='bi bi-eye'></i> Siaga</li><li id='ly_puncak' class='mt-2'><i class='bi bi-eye-slash'></i> Siap</li></ol></div>";
        p = document.createElement('p');
        p.innerHTML = `<div class="mb-3 fs-3"><b>TMA</b><br>+<b>{{ tma_logung.tma }}</b>mdpl <span id="sampling_tma"></span></div><b>Model Genangan</b>`;
        cText.appendChild(p);
        cText.appendChild(ol);
        cUI.appendChild(cText);
        //cUI.addEventListener('click', (e) => { console.log(e.target)});
      }
      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: -6.7969811, lng: 110.921794 }, 
          zoom: 12,
          mapTypeControl: true,
          //mapTypeId: 'terrain',
          mapTypeControlOptions: {
            style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
            position: google.maps.ControlPosition.TOP_RIGHT,
          },
        });

        //map.data.loadGeoJson(
    //"http://localhost:3003/static/map/break.geojson"
  //);
      wadukLayer = new google.maps.KmlLayer('https://ewslogung.prinus.net/static/map/logung.kml', {preserveViewport: true,map: map});
      siagaLayer = new google.maps.KmlLayer('https://ewslogung.prinus.net/static/map/siaga.kml', {preserveViewport: true,map: null});
      awasLayer = new google.maps.KmlLayer('https://ewslogung.prinus.net/static/map/awas.kml', {preserveViewport: true,map: null});
      puncakLayer = new google.maps.KmlLayer('https://ewslogung.prinus.net/static/map/puncak.kml', {preserveViewport: true,map: null});
      breakLayer = new google.maps.KmlLayer('https://ewslogung.prinus.net/static/map/break.kml', {preserveViewport: true,map: null});
      pengungsianLayer = new google.maps.KmlLayer('https://ewslogung.prinus.net/static/map/pengungsian.kml', {preserveViewport: true,map: map});
      //jembatanLayer = new google.maps.KmlLayer('https://ewslogung.prinus.net/static/map/jembatan.kml', {preserveViewport: true,map: map});

    //  jembatanLayer.addEventListener('click', (e) => {

    //  });

        const mcdiv = document.createElement('div');

        WarningControl(mcdiv, map);
        let e = document.getElementById('sampling_tma');
        //console.log(e.innerHTML);
        //let d = dayjs(e.innerHTML);
        //e.innerHTML = d.fromNow();

        //const ly_pengungsian = document.getElementById('ly_pos_pengungsian');
        //ly_pengungsian.addEventListener('click', ()=>{console.log('clicked')});
        map.controls[google.maps.ControlPosition.RIGHT_CENTER].push(mcdiv);
      }
    </script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key={{GMAP_KEY}}&callback=initMap&v=weekly"
    async
  ></script>
</body>
  </html>
  