{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row mb-5">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/rtd">RTD</a></li>
          <li class="breadcrumb-item active" aria-current="page">Tentang Bendungan Logung</li>
        </ol>
      </nav>
      <h1>Tentang Bendungan Logung</h1>
    </div>
    </div>
  <div class="row">
    <div class="col-sm-6">
      <p>Terletak di dukuh Slalang, desa Tanjungrejo, kecamatan Jekulo, kabupaten Kudus, provinsi Jawa Tengah. Daerah genangan masuk wilayah Dukuh Sintru, Desa Kandangmas Kecamatan Dawe dan dukuh Slalang, Desa Tanjungrejo Kecamatan Jekulo Kabupaten Kudus, Provinsi Jawa Tengah, pada aliran <b>Sungai Logung</b> dan <b>Sungai Gajah</b>, <b>Wilayah Sungai Juana</b>, pada koordinat 110&deg; 55' 20,27" Bujur Timur dan 06&deg; 45' 28,38" Lintang Selatan.</p>
      <p>Volume tampungan normal waduk <b>20,15 juta m<sup>3</sup></b>, volume <b>tampungan maksimum  27 juta m<sup>3</sup></b>, luas genangan waduk maksimum <b>55 hektar</b> dan <b>elevasi puncak bendungan +94,00 m</b></p>
      <p>Tipe pelimpah adalah pelimpah samping dengan ambang <b>tipe ogee</b>, dengan kapasitas <b>566,35 m<sup>3</sup>/det</b>, elevasi mercu <b>+88,50 m</b>.</p>
      <p>Kelas bahaya hilir bendungan termasuk <b>klas bahaya sangat tinggi</b>, jumlah penduduk yang bermukim di daerah genangan banjir potensi kegagalan bendungan sekitar <b>149.150 orang</b> dan perkiraan luas genangan banjir akibat keruntuhan bendungan sekitar <b>9.292 ha</b>.</p>
      <div class="text-end link-primary"><a href="/rtd/indikasi">Indikasi Keadaan Darurat <i class="bi bi-arrow-right"></i></a></div>
    </div>
    <div class="col-sm-6">
      <img src="/static/img/lokasi_logung.png" alt="Lokasi Logung">
    </div>
  </div>
</div>
{% endblock %}