{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row mb-5">
    <div class="col">
      <h1>Tanggung Jawab</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <dl class="row">
        <dt class="col-sm-4">Pengelolaan Bendungan</dt>
        <dd class="col-sm-8">Kepala Unit Pengelola Bendungan (UPB) dirangkap oleh Kepala Bidang Operasi dan Pemeliharaan, bertanggung jawab:
          <ol>
            <li>Operasi, Pemeliharaan dan Pemantauan</li>
          </ol>
        </dd>
      </dl>
    </div>
    <div class="col-sm-4">
      
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
  </div>
</div>
{% endblock %}