{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Admin</li>
        </ol>
      </nav>
      <h1 class="mb-5">Admin UPB</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col"><h2>Status Saat ini</h2></div>
        <div class="col text-end"><a href="#form_status" class="btn btn-outline-secondary btn-sm" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="form_status">Ubah Status</a></div>
      </div>
      <form action="/admin/" method="POST" id="form_status" class="collapse my-3 p-3 border border-secondary rounded bg-light">
        {{ siaga_form.hidden_tag() }}
        <h2>Perubahan Status Siaga</h2>
        <p>Perubahan ini juga akan mengirim Telegram group: </p>
        <div class="mb-3">
          <label for="tanggal" class="form-label">Tanggal</label>
          {{ siaga_form.tanggal() }}
        </div>
        <div class="mb-3">
          <label for="kategori" class="form-label">Indikator</label>
          {{ siaga_form.kategori(class_='form-select') }}
        </div>
        <div class="mb-3">
          <label for="kondisi" class="form-label">Kondisi</label><br>
          {# siaga_form.kondisi(class_='form-select') #}
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="jam" id="btnnormal" autocomplete="off" value="07" checked>
            <label class="btn btn-outline-success" for="btnnormal">Normal</label>
          
            <input type="radio" class="btn-check" name="jam" id="btnabnormal" value="12" autocomplete="off">
            <label class="btn btn-outline-secondary" for="btnabnormal">Abnormal</label>
          
            <input type="radio" class="btn-check" name="jam" id="btnwaspada" value="18" autocomplete="off">
            <label class="btn btn-outline-warning" for="btnwaspada">Waspada</label>
            <input type="radio" class="btn-check" name="jam" id="btnsiaga" value="18" autocomplete="off">
            <label class="btn btn-outline-danger" for="btnsiaga">Siaga</label>
            <input type="radio" class="btn-check" name="jam" id="btnawas" value="18" autocomplete="off">
            <label class="btn btn-outline-danger" for="btnawas">Awas</label>
          </div>
      </div>
        <div class="mb-3">
          <label for="catatan" class="form-label">Uraian Keadaan</label><br>
          {{ siaga_form.catatan() }}
        </div>
        <div class="mb-3">
          {{ siaga_form.submit(class_='btn btn-primary') }}
        </div>
      </form>
      <ol class="list-group list-group-numbered">
        {% for s in status_siaga %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{ s.kategori }}</div>
        </div>
          <span class="badge kondisi">{{ s.kondisi }}</span>
        </li>
        {% endfor %}
      </ol>
    </div>
    <div class="col-sm-6">
      <ol>
        <li><a href="/admin/user">Managemen User</a></li>
        <li><a href="/admin/pos">Managemen Pos Hidrologi</a></li>
        <li><a href="/admin/pengungsian">Managemen Pos Pengungsian</a></li>
      </ol>
      <h2>Potensi Content di sini:</h2>
      <ol>
        <li>Persentase logger total</li>
        <li>Petugas yang belum kirim</li>
        <li>Hujan yang terjadi</li>
        <li>TMA Terbaru</li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}
{% block js_foot %}
<script src="/static/js/dayjs.min.js"></script>
<script src="/static/js/relativeTime.js"></script>
<script src="/static/js/id.js"></script>
<script>
    document.addEventListener('pjax:success', function() {
      console.log("pjax success");
      var colors = {'no': 'bg-success', 'ab': 'bg-secondary', 'wa': 'bg-warning', 'si': 'bg-danger', 'aw': 'bg-danger'}
      var kondisi = document.getElementsByClassName('kondisi');
      for (var i=0; i < kondisi.length; i++) {
        kondisi[i].classList.add(colors[kondisi[i].innerText.substring(0,2).toLowerCase()])
      }
  }, false);
</script>
{% endblock %}