{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Admin</li>
        </ol>
      </nav>
      <h1 class="mb-5">Admin UPB</h1>
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col"><h2>Status Saat ini</h2></div>
        <div class="col text-end"><a href="#form_status" class="btn btn-outline-secondary btn-sm" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="form_status">Ubah Status</a></div>
      </div>
      <form action="/admin/" method="POST" id="form_status" class="collapse my-3 p-3 border border-secondary rounded bg-light">
        {{ siaga_form.hidden_tag() }}
        <h2>Perubahan Status Siaga</h2>
        <p>Perubahan ini juga akan mengirim Telegram group: </p>
        <div class="mb-3">
          <label for="tanggal" class="form-label">Tanggal</label>
          {{ siaga_form.tanggal() }}
        </div>
        <div class="mb-3">
          <label for="kategori" class="form-label">Indikator</label>
          {{ siaga_form.kategori(class_='form-select') }}
        </div>
        <div class="mb-3">
          <label for="kondisi" class="form-label">Kondisi</label><br>
          {# siaga_form.kondisi(class_='form-select') #}
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="kondisi" id="btnnormal" autocomplete="off" value="0" checked>
            <label class="btn btn-outline-success" for="btnnormal">Normal</label>
          
            <input type="radio" class="btn-check" name="kondisi" id="btnabnormal" value="1" autocomplete="off">
            <label class="btn btn-outline-secondary" for="btnabnormal">Abnormal</label>
          
            <input type="radio" class="btn-check" name="kondisi" id="btnwaspada" value="2" autocomplete="off">
            <label class="btn btn-outline-warning" for="btnwaspada">Waspada</label>
            <input type="radio" class="btn-check" name="kondisi" id="btnsiaga" value="3" autocomplete="off">
            <label class="btn btn-outline-danger" for="btnsiaga">Siaga</label>
            <input type="radio" class="btn-check" name="kondisi" id="btnawas" value="4" autocomplete="off">
            <label class="btn btn-outline-danger" for="btnawas">Awas</label>
          </div>
      </div>
        <div class="mb-3">
          <label for="catatan" class="form-label">Uraian Keadaan</label><br>
          {{ siaga_form.catatan() }}
        </div>
        <div class="mb-3">
          {{ siaga_form.submit(class_='btn btn-primary') }}
        </div>
      </form>
      <ol class="list-group list-group-numbered">
        {% for s in status_siaga %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{ s.kategori }}</div>
        </div>
        <span class="me-3">{{ s.tanggal }}</span>
        <span class="badge kondisi">{{ s.kondisi }}</span>
        </li>
        {% endfor %}
      </ol>
    </div>
    <div class="col-sm-6">
      <ol>
        <li><a href="/admin/user">Managemen User</a></li>
        <li><a href="/admin/pos">Managemen Pos Hidrologi</a></li>
        <li><a href="/admin/pengungsian">Managemen Pos Pengungsian</a></li>
        <li>Update halaman Bagan Alir (menu <b>Rencana Tindak Darurat</b> > <b>Arus Informasi</b>), <a data-bs-toggle="collapse" href="#form_update_bagan_alir" role="button" aria-expanded="false" aria-controls="form_update_bagan_alir">petunjuk update.</a>
          <form id="form_update_bagan_alir" class="collapse p-3 mt-1 border rounded" method="POST" enctype="multipart/form-data" action="/admin/arusinfo">
            {{ arusinfo_form.hidden_tag()}}
            <ul class="mb-4">
              <li>File gambar: PNG, GIF, JPG dapat diterima,</li>
              <li>Ukuran file &lt; 1MB, kurang lebih 1390 x 1244 pixel.</li> 
              <li>Bisa dibuat dengan cara foto layar (screen shoot) dokumen Rencana Tindak Darurat</li>
              <li>ATAU Download dan Edit template gambar berikut ini, <a href="/static/img/template_arusinformasi.png">template_arusinformasi.png</a></li>
            </ul>
            <input type="file" name="img_arus_informasi" accept=".png,.gif,.jpg" id="fileinput">
            <input type="submit" class="btn btn-primary" value="Simpan">
          </form>
        </li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}
{% block js_foot %}
<script src="/static/js/dayjs.min.js"></script>
<script src="/static/js/relativeTime.js"></script>
<script src="/static/js/id.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
      var colors = {'no': 'bg-success', 'ab': 'bg-secondary', 'wa': 'bg-warning', 'si': 'bg-danger', 'aw': 'bg-danger'}
      var kondisi = document.getElementsByClassName('kondisi');
      for (var i=0; i < kondisi.length; i++) {
        kondisi[i].classList.add(colors[kondisi[i].innerText.substring(0,2).toLowerCase()])
      }
    });
    document.addEventListener('pjax:success', function() {
      console.log("pjax success");
  }, false);
</script>
{% endblock %}