{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Admin</li>
        </ol>
      </nav>
      <h1>Admin </h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ol>
        <li>Persentase logger total</li>
        <li>Petugas yang belum kirim</li>
        <li>Hujan yang terjadi</li>
        <li>TMA Terbaru</li>
      </ol>
      <h2>Indikasi Masalah Bendungan</h2>
      <ol>
        <li>Masalah Over Topping / Peluapan</li>
        <li>Masalah Rembesan</li>
        <li>Masalah Didih Pasir</li>
        <li>Masalah Lubang Benam</li>
        <li>Masalah Retakan Pada Tubuh Bendungan</li>
        <li>Masalah Penuruan / Settlement</li>
        <li>Masalah Longsoran pada Tubuh Bendungan</li>
        <li>Masalah Retakan pada Struktur Beton</li>
        <li>Masalah Akibat Gempa Bumi

          
        </li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}