{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
  <div class="row">
    <div class="col text-center">
      <img class="d-block mx-auto mb-4" src="/static/img/pupr.png" alt="Logo Kementrian PUPR" width="72" height="80.9">
      <h1 class="display-5 fw-bold">404</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead">Not Found</p>
        <p class="lead mb-4">Halaman tidak ditemukan.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="/" type="button" class="btn btn-outline-primary btn-lg px-4 gap-3">kembali ke Home</a>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}