<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #232368">
  <div class="container">
    <a class="navbar-brand" href="#">EWS Bendungan Logung</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item px-2">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" aria-current="page" href="/status">Status</a>
        </li>
        <li class="nav-item dropdown px-2">
          <a class="nav-link dropdown-toggle" role="button" id="dropdownRtdMenuLink" href="#" data-bs-toggle="dropdown" aria-expanded="false">Rencana Tindak Darurat</a>
          <ul class="dropdown-menu" araia-labelledby="dropdownRtdMenuLink">
            <li><a class="dropdown-item navlink" href="/rtd/about">Tentang Bendungan Logung</a>
            </li>
            <li><a class="dropdown-item navlink" href="/rtd/indikasi">Deteksi Darurat</a>
            </li>
            <li><a class="dropdown-item navlink" href="/rtd/tanggungjawab">Tanggung Jawab</a>
            </li>
            <li><a class="dropdown-item navlink" href="/rtd/arusinformasi">Arus Informasi</a>
            </li>
          </ul>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" href="/map">Peta</a>
        </li>
        </ul>
        <ul class="navbar-nav">
        {% if current_user.is_authenticated %}
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Data</a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
            {% if current_user.role == 1 %}
            <li><a href="/admin" class="dropdown-item navlink">Admin</a></li>
            <li class="dropdown-divider"></li>
            <li><a href="/admin/user" class="dropdown-item navlink">User</a></li>
            <li><a href="/admin/pos" class="dropdown-item navlink">Pos Hidrologi</a></li>
            <li><a href="/admin/pengungsian" class="dropdown-item navlink">Pos Pengungsian</a></li>
            {% elif current_user.role == 2 %}
            <li><a href="/admin/pos/{{ current_user.pos_id }}" class="dropdown-item navlink">Data Hidrologi</a></li>
            {% endif %}
          </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">{{ current_user.username }}</a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
            <li><a href="/logout" class="dropdown-item navlink">Logout</a></li>   
          </ul>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link btn btn-outline-light py-1" href="/login">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>        
