{% extends 'base.html' %}
{% block extra_head %}
<style>
  #global_status
</style>
{% endblock %}
{% block content %}
    <div class="container">
      <div class="row my-3 flex-sm-row-reverse">
        <div class="col text-center p-4"><h1 class="display-4 fw-bold mb-4">EWS Bendungan Logung</h1>
          <p class="lead mb-4">Bendungan Logung di <b>Kabupaten Kudus</b>, Jawa Tengah, <!--<br>berdasarkan dokumen <br><a href="#rtd">Rencana Tindak Darurat Juli 2017</a>--></p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center mb-2">
        <div class="col">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col text-center">
        <p>Tinggi Muka Air (TMA) Waduk</p>
        <h1 class="display-4 fw-bold text-success">+{{ tma_logung.0.tma }} MDPL</h1>
          <h4 class="text-muted fw-light">TMA Normal: +88.5mdpl, Siaga: +92.75mdpl, Awas: +93.75mdpl</h4>
        </div>
        <div class="col text-center">
        <p>Status Bendungan</p>
          <h1 id="global_status" class="display-4 fw-bold main-kondisi text-success">{{ status_.kondisi }}</h1>
          <h4 class="text-muted fw-light">Parameter <b>{{ status_.kategori }}</b></h4>
          <div class="mb-4" id="sampling_global_status" data-timestamp-global-status=0 data-sampling-global-status="">{{ status_.tanggal }}</div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col"><div id="chart-containe"></div></div>
        <div class="col">
          <p class="text-end"><i class="bi bi-list-ul"></i> <a href="/status">Riwayat Status</a></p>
          <ol class="list-group list-group-numbered">
        {% for s in status_siaga %}
        {% if s.tanggal %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{ s.kategori }}</div>
        </div>
          <span class="me-3 tgl-status" title="{{ s.tanggal }}">{{ s.tanggal }}</span>          
          <span class="badge kondisi">{{ s.kondisi }}</span>
        </li>
        {% endif %}
        {% endfor %}
        </ol>
        </div>
        </div>
      </div>
    </div>
    <div class="w-100 my-0 bg-image h-100 text-center text-light" style="background-image: url(/static/img/logung_view_{{ (2,3)|random }}.jpg);background-size: cover;background-repeat: no-repeat;">
    <h1 class="py-5 my-5">&nbsp;</h1>
    <h1 class="py-5 my-5">Bendungan Logung</h1>
    <h1 class="py-5 my-5">&nbsp;</h1>
    <h1 class="py-5 my-5">&nbsp;</h1>
    </div>
    <div class="container mt-5">
      <div class="row mb-5">
        <div id="rtd" class="col text-center">
          <h1 class="fw-bold pt-4">Rencana Tindak Darurat</h1>
          <p>Dokumen Juli 2017</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title mb-4">Tentang Bendungan Logung</h5>
              <p class="card-text">Terletak di desa Tanjungrejo, kec. Jekulo, kab. Kudus, provinsi Jawa Tengah.</p>
              <p class="card-text">Volume Tampungan Normal 20,15 Juta M<sup>3</sup>. Elevasi puncak bendungan +94 MDPL (Meter diatas permukaan air laut).</p>  
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title mb-4">Indikasi Masalah pada Bendungan</h5>
              <p class="card-text">Untuk mengetahui problem sesungguhnya, perlu dilakukan investigasi dan evaluasi keamanan bendungan.</p>
            </div>
          </div>
          <h4></h4>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title mb-4">Pengungsian</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title mb-4">Penanggung Jawab</h5>
              <p class="card-text"><ol>
                <li>Tanggung Jawab Pengelola</li>
                <li>Tanggung Jawab Pemberitahuan</li>
                <li>Posko Operasi Tindak Darurat Bendungan</li>
                <li>Taggung Jawab Evakuasi</li>
                <li>Tanggung Jawab Pemantauan dan Keamanan Lingkungan Bendungan</li>
                </ol></p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block js_foot %}
<script src="/static/js/dayjs.min.js"></script>
<script src="/static/js/relativeTime.js"></script>
<script src="/static/js/id.js"></script>
<script type="module">
        import Chart from 'https://code.highcharts.com/es-modules/Core/Chart/Chart.js';
        import LineSeries from 'https://code.highcharts.com/es-modules/Series/Line/LineSeries.js';
        // Example to create a simple line chart in a div#container:
        new Chart('chart-container', { 

          series: [
            { data: [{% for t in tma_logung %}{{ t.tma }},{% endfor %}] }
          ], 
          yAxis: {
            plotLines: [{
              color: 'red',
              width: 2,
              value: 97,
              zIndex: 5
            }
            ]
          }
        });
    </script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
      dayjs.locale('id');
      dayjs.extend(window.dayjs_plugin_relativeTime);
      let s = document.getElementById('sampling_global_status');
      let d = dayjs(s.innerHTML);
      s.innerHTML = d.fromNow();

      let ts = document.getElementsByClassName('tgl-status');
      for (let i = 0; i < ts.length; i++) {
        if (ts[i].innerHTML != 'None') {
          let d = dayjs(ts[i].innerHTML);
          ts[i].innerHTML = d.fromNow();
        }
      }
      var colors = {'no': 'bg-success', 'ab': 'bg-secondary', 'wa': 'bg-warning', 'si': 'bg-danger', 'aw': 'bg-danger'}
      var tcolors = {'no': 'text-success', 'ab': 'text-secondary', 'wa': 'text-warning', 'si': 'text-danger', 'aw': 'text-danger'}
      var kondisi = document.getElementsByClassName('kondisi');
      for (var i=0; i < kondisi.length; i++) {
        kondisi[i].classList.add(colors[kondisi[i].innerText.substring(0,2).toLowerCase()])
      }
      var kondisi = document.getElementsByClassName('main-kondisi')[0];
      kondisi.classList.add(tcolors[kondisi.innerText.substring(0,2).toLowerCase()])
    });
</script>
{% endblock %}