{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row mb-5">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Status</li>
        </ol>
      </nav>
      <h1>Riwayat Siaga</h1>
      <div class="row">
        <div class="col">
          
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>No</th>
            <th>Waktu Perubahan</th>
            <th colspan="2">Indikasi / Parameter</th>
            <th>Uraian Keadaan</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for s in statuslog %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ s.tanggal }}</td>
            <td><span class="indikasi indikasi-{{ s.kategori_id }} me-1">{{ s.kategori_id }}</span></td>
            <td>{{ s.kategori|upper }}</td>
            <td>{{ s.catatan }}</td>
            <td><span class="badge kondisi">{{ s.kondisi }}</span></td>
          </tr>
          {% else %}
          <tr>
            <td colspan="5">Kosong</td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
    </div>
</div>
{% endblock %}
{% block extra_head %}
<style>
  .indikasi-1 {
    background: #9ec5fe;
  }
  .indikasi-2 {
    background: #c29ffa;
  }
  .indikasi-3 {
    background: #c5b3e6; 
  }
  .indikasi-4 {
    background: #efadce;
  }
  .indikasi-5 {
    background: #f1aeb5;
  }
  .indikasi-6 {
    background: #fecba1;
  }
  .indikasi-7 {
    background: #ffe69c;
  }
  .indikasi-8 {
    background: #a3cfbb;
  }
  .indikasi-9 {
    background: #a6e9d5;
  }
  .indikasi {
    padding: 6px 14px;
    border-radius: 25px;
    font-size: 24px;
    /*color: #666;*/
  }
</style>
{% endblock %}
{% block js_foot %}
<script>
document.addEventListener('DOMContentLoaded', function() {
  console.log('pjax:success')
  var colors = {'no': 'bg-success', 'ab': 'bg-secondary', 'wa': 'bg-warning', 'si': 'bg-danger', 'aw': 'bg-danger'}
    var kondisi = document.getElementsByClassName('kondisi');
    for (var i=0; i < kondisi.length; i++) {
      kondisi[i].classList.add(colors[kondisi[i].innerText.substring(0,2).toLowerCase()])
    }
}, false);
</script>
{% endblock %}